[gcode_macro START_PRINT]
gcode:
  SAVE_GCODE_STATE NAME=start_print_state
  G21 ;metric values
  G90 ;absolute positioning
  M82 ;set extruder to absolute mode
  G28 ;home
  M117 Heating...
  M190 S{params.BED_TEMP|default(printer.heater_bed.target, true) }; wait for bed to heat up
  M109 S150 ; Wait for extruder to reach 150 so an inductive probe (if present) is at a predictable temp. Also allows the bed heat to spread a little.
  Z_TILT_ADJUST ;Adjust bed tilt
  G28 Z ;Home again as Z will have changed after tilt adjustment and bed heating.
  #BED_MESH_CALIBRATE ; Calibrate bed mesh
  #BED_MESH_LOAD AUTO=true
  BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX} FORCE_NEW_MESH=true
  G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y} Z50 F6000 ; Park in the back and wait for extruder
  M109 S{params.EXTRUDER_TEMP|default(printer.extruder.target, true) }; wait for extruder to heat up
  G1 Z10.0 F6000 ;Move the platform down 10mm
  G92 E0 ;Reset Extruder
  G1 X380.0 Y380.0 Z0.2 F5000.0 ; WIPE Move to start position
  G1 X380.0 Y100.0 Z0.2 F1500.0 E15 ;Draw the first line
  G1 Z2.0 F6000
  G92 E0 ;Reset Extruder
  SET_SKEW XY=141.5,141.0,100
  M117 Printing...
  RESTORE_GCODE_STATE NAME=start_print_state

# The end_print macro is also called from CANCEL_PRINT.
[gcode_macro END_PRINT]
gcode:
  SAVE_GCODE_STATE NAME=end_print_state
  M104 S0 ;extruder heater off
  M140 S0 ;heated bed heater off
  G91 ;relative positioning
  G1 Z10 E-2 F3600  ;retract the filament a bit before lifting the nozzle.
  G1 E-2 F3600 ;retract filament even more
  G90 ;absolute positioning
  G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y} ; Park in the back
  M84 ;steppers off
  M107 ; part cooling fan off
  SET_SKEW CLEAR=1
  BED_MESH_CLEAR
  M117 Done.
  RESTORE_GCODE_STATE NAME=end_print_state

[gcode_macro TURN_ON_MOTORS]
gcode:
  SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
  SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
  SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1
  SET_STEPPER_ENABLE STEPPER=stepper_z1 ENABLE=1
  SET_STEPPER_ENABLE STEPPER=stepper_z2 ENABLE=1
  SET_STEPPER_ENABLE STEPPER=extruder ENABLE=1

[delayed_gcode AUTOSTART]
initial_duration: 1
gcode:
  TURN_ON_MOTORS
  SET_FAN_SPEED FAN=TMC SPEED=1

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    {% set Z = params.Z|default(10)|float %}
    {% set E = params.E|default(0.6)|float %}
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y} F6000

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% set E = params.E|default(0.6)|float %}
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    END_PRINT
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro MOVE_HOMING_POSITION]
gcode:
    G0 X200 Y200 F9000

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
  _Z_TILT_ADJUST
  G28 Z

[gcode_macro QUERY_ROOM]
gcode:
    {% set sensor = printer["htu21d room"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.humidity))}