
---

name: Build KlipperScreen
on:
  push:
    tags-ignore:
      - '**'
    branches:
      - 'master'
  repository_dispatch:
    types: [KlipperScreen]
  workflow_dispatch:

      
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./klipperscreen/Dockerfile
          platforms: linux/arm64
          push: true
          tags: gucio1200/klipperscreen:latest
          cache-from: type=registry,ref=gucio1200/klipperscreen:latest
          cache-to: type=inline
        if: github.event_name == 'push'
        
      - name: Build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./klipperscreen/Dockerfile
          platforms: linux/arm64
          push: true
          tags: gucio1200/klipperscreen:latest
        if: github.event_name != 'push'
