
---

name: Build Ustreamer
on:
  push:
    tags-ignore:
      - '**'
    branches:
      - 'master'
  repository_dispatch:
    types: [ustreamer]
      
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: $-buildx-${{ env.GITHUB_WORKFLOW }}-$
          restore-keys: |
            $-buildx-${{ env.GITHUB_WORKFLOW }}-

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./ustreamer/Dockerfile
          platforms: linux/arm64
          push: true
          tags: gucio1200/ustreamer:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
        if: github.event_name == 'push'
        
      - name: Build
        uses: docker/build-push-action@v2
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./ustreamer/Dockerfile
          platforms: linux/arm64
          push: true
          tags: gucio1200/ustreamer:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
        if: github.event_name != 'push'
