---

name: Check remote
on:
  schedule:
    - cron: "59 */12 * * *"
  workflow_dispatch:
      
jobs:
  check:
    strategy:
      matrix:
        repos:
          - Klipper3d/klipper
          - jordanruthe/KlipperScreen
          - meteyou/mainsail
          - Arksine/moonraker
          - pikvm/ustreamer
          - fluidd-core/fluidd
          
    runs-on: ubuntu-latest
    steps:
        
      - uses: actions/checkout@v2
        with:
          repository:  ${{ matrix.repos }}
          fetch-depth: 0
          
      - name: Check if Updated
        run: |
         if [ $(git log --shortstat --since=yesterday | wc -l) -gt 0 ]; 
         then 
           echo "UPGRADE=true" >> $GITHUB_ENV
         fi
        shell: bash
        
      - name: Set dispatch event
        run: |
         event=$(echo ${{ matrix.repos }} | sed 's/^[^\/]*\///g')
         echo "DISPATCH_EVENT=$event" >> $GITHUB_ENV
        shell: bash
        if: env.UPGRADE
        
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          event-type: ${{ env.DISPATCH_EVENT }}
        if: env.UPGRADE

          
